<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app id="WebApp_ID">
	<servlet>
		<servlet-name>Passenger</servlet-name>
		<display-name>Passenger</display-name>
		<description></description>
		<servlet-class>com.passenger.Passenger</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>VerifyAadhar</servlet-name>
		<display-name>VerifyAadhar</display-name>
		<description></description>
		<servlet-class>com.login.VerifyAadhar</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PassengerList</servlet-name>
		<display-name>PassengerList</display-name>
		<description></description>
		<servlet-class>com.login.PassengerList</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>VerifiedPassengers</servlet-name>
		<display-name>VerifiedPassengers</display-name>
		<description></description>
		<servlet-class>com.login.VerifiedPassengers</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UnverfiedPassengers</servlet-name>
		<display-name>UnverfiedPassengers</display-name>
		<description></description>
		<servlet-class>com.login.UnverfiedPassengers</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>aadharVerification</servlet-name>
		<display-name>aadharVerification</display-name>
		<description></description>
		<servlet-class>com.login.aadharVerification</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>getTotalPassengerList</servlet-name>
		<display-name>getTotalPassengerList</display-name>
		<description></description>
		<servlet-class>com.login.getTotalPassengerList</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>updateVerificationStatus</servlet-name>
		<display-name>updateVerificationStatus</display-name>
		<description></description>
		<servlet-class>com.login.updateVerificationStatus</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>unverifyPasseneger</servlet-name>
		<display-name>unverifyPasseneger</display-name>
		<description></description>
		<servlet-class>com.login.unverifyPasseneger</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Passenger</servlet-name>
		<url-pattern>/Passenger</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VerifyAadhar</servlet-name>
		<url-pattern>/VerifyAadhar</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PassengerList</servlet-name>
		<url-pattern>/PassengerList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VerifiedPassengers</servlet-name>
		<url-pattern>/VerifiedPassengers</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UnverfiedPassengers</servlet-name>
		<url-pattern>/UnverfiedPassengers</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>aadharVerification</servlet-name>
		<url-pattern>/aadharVerification</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>getTotalPassengerList</servlet-name>
		<url-pattern>/getTotalPassengerList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>updateVerificationStatus</servlet-name>
		<url-pattern>/updateVerificationStatus</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>unverifyPasseneger</servlet-name>
		<url-pattern>/unverifyPasseneger</url-pattern>
	</servlet-mapping>
	
</web-app>
